header{
    text-align: center;
    font-size: large;
    font-weight: bold;
    padding-top: 5px;
    background-color: aqua;
    height: 70px;
}

#startButtonSection{
    padding-left: 45%;
}


main{
    background-color: lightblue;
    margin-top: 50px;
    padding-top: 10px;
    padding-bottom: 20px;
}
#question{
    padding-bottom: 20px;
}
.btn{
    background-color: lightgray;
    border-radius: 40px;
}
.btn:hover{
    background-color: lightyellow;
}
li{
    margin: 10px;
}

#timeRemaining{
    text-align: center;
}


.time{
    padding: 20px;
    color: mediumvioletred;
}

#viewHighScores{
    text-align: center;
}

a{
    color: orangered;
}

#determination{
    padding-top: 30px;
}