*{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}



header{
    text-align: center;
    font-size: large;
    font-weight: bold;
    padding-top: 5px;
    background-color: black;
    height: 70px;
    color: orange;
}

#startButtonSection{
    padding-left: 45%;
}


main{
    background-color: orange;
    margin-top: 50px;
    padding-top: 10px;
    padding-bottom: 20px;
    
}
#question{
    padding-bottom: 20px;
}
.btn{
    background-color: lightgray;
    border-radius: 40px;
}
.btn:hover{
    background-color: lightyellow;
}
li{
    margin: 10px;
}

#highScoreContainer{
    padding-right: 45px;
}

.time{
    color: darkred;
    padding-top: 20px;
    font-size: 20px;
}

#scoreEntry{
    margin-top: 100px;
}

#timeRemainingContainer{
    margin-left: auto;
}

#timeContainer{
    margin-top: 30px;
}

#minutesRemaining{
    float: left;
    
}

#secondsRemaining{
    float: left;
    margin-left: 4px;
}

#viewHighScores{
    text-align: right;
}


#viewHighScores:hover{
    color: red;
}

